body {
	background:#2E363F;
}

#header {
	background-color: #1f262d;
   margin-top:10px;
}


@media (max-width: 350px) {

    .quick-actions_homepage .quick-actions li {
        min-width: 96%;
    }
}
@media (min-width: 351px) and (max-width: 767px) {

	.quick-actions_homepage .quick-actions li{ min-width:46%;}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .quick-actions_homepage .quick-actions li{ min-width:48%;}
}
